<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kelompok2.recruitmentapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_me"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_me"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name="com.kelompok2.recruitmentapp.Activity.EducationActivity">

        </activity>
        <activity android:name="com.kelompok2.recruitmentapp.MainActivity9" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.introductionactivity" />
        <activity android:name="com.kelompok2.recruitmentapp.MainActivity8" />
        <activity android:name="com.kelompok2.recruitmentapp.MainActivity7" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.SimuActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.spinnersActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.ujumbeActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.verificationActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.autocompleteActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAMek1W0t-T2Uu_ii79ZwNkLOjtirSs18U" />

        <activity android:name="com.kelompok2.recruitmentapp.Activity.slideActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.FeedActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.inputCategoriesActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.ChatLogActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.NewMessageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kelompok2.recruitmentapp.Activity.LatestMessagesActivity" />
        </activity>
        <activity android:name="com.kelompok2.recruitmentapp.Activity.LatestMessagesActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.ForgotPasswordActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.MainActivity6" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.CommentsActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.StoryActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.AddStoryActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.testingActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.LoginActivity">

        </activity>
        <activity android:name="com.kelompok2.recruitmentapp.Activity.HomeActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.AddPostActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3376169146760040~5789277526" />

        <activity android:name="com.kelompok2.recruitmentapp.Activity.UserdetailsActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.TafutanetworkActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.JobpostingActivity" />
        <activity
            android:name="com.kelompok2.recruitmentapp.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kelompok2.recruitmentapp.MainActivity5" />
        <activity android:name="com.kelompok2.recruitmentapp.MainActivity4" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.BasicActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.CompanyActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.DashboardActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.SignupActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Activity.SigninActivity" />
        <activity android:name="com.kelompok2.recruitmentapp.Fragments.DiscoverFragment" />
        <activity android:name="com.kelompok2.recruitmentapp.Fragments.HomeFragment" />
        <activity
            android:name="com.kelompok2.recruitmentapp.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
    </application>

</manifest>